main {
  width: 100vw;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50vw;
}

.todo-list-section {
  width: 50vw;
}

.todo-list {
  margin: 0;
  padding: 0;
}

.todo {
  width: 100%;
  display: inline-flex;
}

.todo-label {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-title {
  margin: 0;
}

.todo-description,
.todo-date-created {
  font-size: 12px;
}

.todo-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 21px;
}